{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="{% static 'css' %}/bootstrap.css" />
    <link rel="stylesheet" href="{% static 'icons' %}/bootstrap-icons.css" />
  </head>

  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a href='{% url "index" %}' class="fs-1 link-opacity-75-hover link-dark text-decoration-none">AskmeStremin</a>
        <form class="d-flex" role="search">
          <button class="btn bg-success me-2 text-white" type="submit">+ASK!</button>
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit"><h6><i class="bi-search"></i></h6></button>
        </form>
        <div class="d-flex justify-content-between gap-3">
          <div class="border">
            <img src=" {% static 'jpg/cot.jpg' %}" width="50" height="50" />
          </div>
          <div class="justify-content-between">
            <a href='{% url "settings" %}' class="link-opacity-75-hover link-dark text-decoration-none"><i class="bi bi-person-fill"></i> Dr.Pepper</a>
            <div class="log_reg">
              <a href='{% url "login" %}' class="link-opacity-75-hover link-dark text-decoration-none"><i class="bi bi-box-arrow-in-right"></i> log in</a>
              <a href='{% url "signup" %}' class="link-opacity-75-hover link-dark text-decoration-none">register</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="container-fluid container-lg mt-3">
      <div class="row">
        {%block content%} {%endblock%}
        <div class="col-md-4 col-sm-12">
          <h2>Popular Tags</h2>
          <div class="row">
            <div class="col">
              {% for tag in tags %}
                <a href='{% url "tag" tag.id %}' class="badge bg-secondary text-white link-opacity-75-hover link-dark text-decoration-none">{{ tag.name}}</a>
              {% endfor %}
          </div>

          <h3 class="mt-5">Best Members</h3>
          <div>
            <a href="/member.html" class="d-block">Mr. Freeman</a
            ><a href="/member.html" class="d-block">Mr. Freeman</a
            ><a href="/member.html" class="d-block">Mr. Freeman</a
            ><a href="/member.html" class="d-block">Mr. Freeman</a
            ><a href="/member.html" class="d-block">Mr. Freeman</a>
          </div>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom p-2 bg-light">
      <div class="container">
        <span class="text-muted"></span>
      </div>
    </footer>
    <script src="{% static 'js' %}/bootstrap.js"></script>
  </body>
</html>
