{%load static%}
<article class="card mb-3 v-100">
  <div class="row g-0">
    <div class="col-3 p-2">
      <div class="border w-100 mb-3" style="height: 100px">
        <img
          src="../static/jpg/cot.jpg"
          class="rounded-start w-100 h-100"
          alt="..."
        />
      </div>
      <div class="input-group flex-nowrap">
        <input type="number" value="5" class="form-control" />
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">
          <a
            href='{% url "question" question.id %}'
            class="text-reset text-decoration-none"
            >{{question.title}}</a
          >
        </h5>
        <p class="card-text">{{question.text}}</p>
        <div class="row">
          <a
            href='{% url "question" question.id %}'
            class="col-4 text-reset text-decoration-none"
            >answers(3)</a
          >
          <div class="col-8">
            <span>Tags:</span>
            {% for tag_item in tags %}
            <a
              href='{% url "tag" tag_item.id %}'
              class="badge text-reset text-decoration-none"
              style="background-color: {{ tag_item.color }};"
              >{{ tag_item.name_tag }}</a
            >
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
