{% extends "layouts/base.html" %} {% block content %}
<div class="col-md-8 col-sm-12">
    <h1>New Question</h1>
    <div class="row row-cols-2 row-cols-lg-5 g-2" style="margin-bottom: 20px; margin-top: 10px;">
        <div class="col-md-2 col-sm-12">
            <div class="p-1">Title</div>
        </div>
        <input class="col-md-10 col-sm-12 border border-black rounded"
            placeholder="Enter your title here..." style="min-width: 500px;">
        </input>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2" style="margin-bottom: 20px; margin-top: 10px;">
        <div class="col-2 col-sm-12">
            <div class="p-1">Text</div>
        </div>
        <textarea placeholder="Enter your title here..."
            class="col-md-10 col-sm-12 border border-black rounded"
            style="min-width: 500px; min-height: 250px;">
        </textarea>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2" style="margin-bottom: 20px; margin-top: 10px;">
        <div class="col-md-2 col-sm-12">
            <div class="p-1">Tags</div>
        </div>
        <input class="col-md-10 col-sm-12 border border-black rounded" placeholder="Enter your tags here..."
            style="min-width: 500px;">
        </input>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2">
        <div class="col-md-2 col-sm-12">
        </div>
        <div class="col-md-10 col-sm-12" style="max-width: 150px;">
            <button type="button" class="btn btn-outline-dark">ASK!</button>
        </div>
    </div>
</div>
{% endblock %}