{% extends "layouts/base.html" %} {% load bootstrap4 %} {% block content %}
<div class="d-flex gap-3 align-items-center">
    <h1>Login</h1>
</div>
<div class="col-md-8 col-sm-12">
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href='{% url "signup" %}' class="link-opacity-75-hover link-dark text-decoration-none ms-5">create new account</a>
      </form>
    </div>
{%endblock%}
        {% comment %} <div class="row row-cols-2 row-cols-lg-5 g-2" style="margin-bottom: 20px; margin-top: 10px;">
            <div class="col-md-2 col-sm-12">
                <div class="p-1"></div>
            </div>
            <div class="col-md-10 col-sm-12" style="min-width: 250px;">
                <a href='{% url "signup" %}' class="link-opacity-75-hover link-dark text-decoration-none">create new account</a>
            </div>
        </div> {% endcomment %}

        {% comment %} <div class="col-md-8 col-sm-12">
          <form method="post" action="">
              {% csrf_token %}
              <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="usernameInput" aria-describedby="usernameHelp">
                <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="passwordInput">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href='{% url "signup" %}' class="link-opacity-75-hover link-dark text-decoration-none ms-5">create new account</a>
            </form>
          </div> {% endcomment %}
