{% extends "layouts/base.html" %} {% load static %} {% load bootstrap4 %} {% block content %}
<div class="col-8">
  {% include "components/questions.html" %}
  <h2>Answers:</h2>
  {% for answer in answers %} {% include "components/answer.html" %} {% endfor %}
  {% include "components/pagination.html" with page_obj=answers %}
  {% if request.user.is_authenticated %}
  <form method="post" action="">
  {% csrf_token %}
  {% bootstrap_form answer_form %}
  <button type="submit" class="btn btn-secondary" style="margin-top: 20px">Answer</button>
  </form>
  {%endif%}
</div>
{%endblock%} 
