{% extends "layouts/base.html" %} {% load static %} {% block content %}
<div class="col-8">
  <div class="d-flex gap-3 align-items-center">
    <h1>TAG:</h1>
    <a href='{% url "tag" tag.id%}' class="text-reset text-decoration-none">
      {{ tag.name_tag }}
    </a>
  </div>
  {% for question in questions%} {% include "layouts/questions.html" %}
  {%endfor%} {% include "layouts/pagination.html" with page_obj=questions %}
</div>
{% endblock %} {% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tag</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
  </head>

  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">AskPupkin</a>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn bg-success text-white" type="submit">ASK!</button>
        </form>
        <div class="d-flex justify-content-between gap-3">
          <div class="border">
            <img src="../static/jpg/cot.jpg" width="50" height="50" />
          </div>
          <div class="justify-content-between">
            <div class="Name">Dr.Pepper</div>
            <div class="log_reg">
              <a href="../templates/login.html">log in</a>
              <a href="../templates/signup.html">register</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="container-fluid container-lg mt-3">
      <div class="d-flex gap-3 align-items-center">
        <h1>Tag:</h1>
        <a href="/tag.html">bender</a>
      </div>

      <div class="row">
        <div class="col-8">
          <article class="card mb-3 v-100">
            <div class="row g-0">
              <div class="col-3 p-2">
                <div class="border w-100 mb-3" style="height: 100px">
                  <img
                    src="../static/jpg/cot.jpg"
                    class="img-fluid rounded-start w-100 h-100"
                    alt="..."
                  />
                </div>
                <div class="input-group flex-nowrap">
                  <input type="number" value="5" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/question.html">How to build a moon park ?</a>
                  </h5>
                  <p class="card-text">
                    Guys, i have trouble with a moon park. Can't find th
                    black-jack...
                  </p>
                  <div class="row">
                    <a href="/question.html" class="col-4">answers(3)</a>
                    <div class="col-8">
                      <span>Tags:</span>
                      <a href="/tag.html">black-jack</a>
                      <a href="/tag.html">bender</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-3 p-2">
                <div class="border w-100 mb-3" style="height: 100px">
                  <img
                    src="../static/jpg/cot.jpg"
                    class="img-fluid rounded-start w-100 h-100"
                    alt="..."
                  />
                </div>
                <div class="input-group flex-nowrap">
                  <input type="number" value="5" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/question.html">How to build a moon park ?</a>
                  </h5>
                  <p class="card-text">
                    Guys, i have trouble with a moon park. Can't find th
                    black-jack...
                  </p>
                  <div class="row">
                    <a href="/question.html" class="col-4">answers(3)</a>
                    <div class="col-8">
                      <span>Tags:</span>
                      <a href="/tag.html">black-jack</a>
                      <a href="/tag.html">bender</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-3 p-2">
                <div class="border w-100 mb-3" style="height: 100px">
                  <img
                    src="../static/jpg/cot.jpg"
                    class="img-fluid rounded-start w-100 h-100"
                    alt="..."
                  />
                </div>
                <div class="input-group flex-nowrap">
                  <input type="number" value="5" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/question.html">How to build a moon park ?</a>
                  </h5>
                  <p class="card-text">
                    Guys, i have trouble with a moon park. Can't find th
                    black-jack...
                  </p>
                  <div class="row">
                    <a href="/question.html" class="col-4">answers(3)</a>
                    <div class="col-8">
                      <span>Tags:</span>
                      <a href="/tag.html">black-jack</a>
                      <a href="/tag.html">bender</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-4 col-sm-12">
          <h2>Popular Tags</h2>
          <div class="row">
            <div class="col">
              <span class="badge text-bg-primary">Primary</span>
              <span class="badge text-bg-secondary">Secondary</span>
              <span class="badge text-bg-success">Success</span>
              <span class="badge text-bg-danger">Danger</span>
              <span class="badge text-bg-warning">Warning</span>
              <span class="badge text-bg-info">Info</span>
              <span class="badge text-bg-light">Light</span>
              <span class="badge text-bg-dark">Dark</span>
            </div>
          </div>
          <h3 class="mt-5">Best Members</h3>
          <div>
            <a href="/member.html" class="d-block">Mr. Freeman</a
            ><a href="/member.html" class="d-block">Mr. Freeman</a
            ><a href="/member.html" class="d-block">Mr. Freeman</a
            ><a href="/member.html" class="d-block">Mr. Freeman</a
            ><a href="/member.html" class="d-block">Mr. Freeman</a>
          </div>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom p-3 bg-light">
      <div class="container">
        <span class="text-muted"></span>
      </div>
    </footer>
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
{% endcomment %}
