{% extends "layouts/base.html" %} {% load static %} {% block content %}
<div class="col-8">
  <div class="d-flex gap-3 align-items-center">
    <h1>TAG:</h1>
    <a href='{% url "tag" tag.id%}' class="link-opacity-75-hover link-dark text-decoration-none">
      {{ tag.name }}
    </a>
  </div>
  {% for question in questions%} {% include "components/questions.html" with num_answers=question.num_answers %}
  {%endfor%} {% include "components/pagination.html" with page_obj=questions %}
</div>
{% endblock %} 
