{%load static%}

<article class="card mb-3 w-100 d-flex">
  <div class="row g-0">
    <div class="col-4 p-2">
      <div
        class="border w-100 mb-3 align-items-center"
        style="height: 100px; margin-left: 20px; max-width: 100px">
        <img
          src=""
          class="img-fluid rounded-start w-100 h-100"
          alt="..."
        />
      </div>
      <div class="input-group flex-nowrap">
        {% include 'components/rating.html' %}
      </div>
      <div
        class="input-group flex-nowrap w-100 mb-3 align-items-center"
        style="margin-left: 20px; max-width: 100px"
      >
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <div class="overflow-hidden" style="max-height: 120px">
          <p class="card-text">{{ answer.text }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-check" style="margin-left: 205px; margin-top: -45px">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="defaultCheck1"
    />
    <label class="form-check-label" for="defaultCheck1"> Correct! </label>
  </div>
</article>
