{%load static%}
<article class="card mb-3 v-100">
  <div class="row g-0">
    <div class="col-3 p-2">
      <div class="border w-100 mb-3" style="height: 100px">
        <img src="" class="rounded-start w-100 h-100" alt="Question image">
      </div>
      <div class="input-group flex-nowrap">
          {% include 'components/rating.html' %}
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">
          <a
            href='{% url "question" question.id %}'
            class="link-opacity-75-hover link-dark text-decoration-none"
            >{{question.title}}</a
          >
        </h5>
        <p class="card-text">{{question.text}}</p>
        <div class="row">
          <a
            href='{% url "question" question.id %}'
            class="col-4 link-opacity-75-hover link-dark text-decoration-none"
            >answers({{num_answers}})</a>
          <div class="col-8">
            <span>Tags:</span>
            {% for tag in tags %}
            <a
              href='{% url "tag" tag.id %}'
              class="badge bg-secondary text-white link-opacity-75-hover link-dark text-decoration-none"
              >{{ tag.name }}</a
            >
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
